# Ignore all dotfiles...
.*
!.gitattributes
!.github
!.pre-commit-config.yaml

# Ignore all back-up files...
*~
*.bak

# except for .gitignore
!.gitignore

# and .gitmodules
!.gitmodules

# ... and .circleci
!.circleci

# Exclude Kdevelop4 files ...
.kdev*

# Exclude QtCreator files ...
CMakeLists.txt.user*

# Ignore ctags file
tags

# Ignore pyc files ...
*.pyc
